@model List<EntityLayer.Concrete.Task>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">İşler</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <a href="javascript:void(0);" class="btn btn-danger mb-2"><i class="mdi mdi-plus-circle mr-2"></i> Yeni İş Ata</a>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-centered mb-0">
                        <thead class="thead-light">
                            <tr>
                                <th>#</th>
                                <th>Başlık</th>
                                <th>Bitiş Tarihi</th>
                                <th>Durumu</th>
                                <th style="width: 125px;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><a href="#" class="text-body font-weight-bold">#@item.Id</a> </td>
                                    <td>
                                        @item.Title
                                    </td>
                                    <td>
                                        @item.EndDate.ToString("dddd, dd MMMM yyyy")
                                    </td>
                                    <td>
                                        @switch (item.Status.Id)
                                        {
                                            case 4:
                                                <h5><span class="badge badge-warning-lighten"><i class="mdi mdi-coin"></i> @item.Status.StatusName</span></h5>
                                                break;
                                            case 5:
                                                <h5><span class="badge badge-success-lighten"><i class="mdi mdi-coin"></i> @item.Status.StatusName</span></h5>
                                                break;
                                            case 6:
                                                <h5><span class="badge badge-primary-lighten"><i class="mdi mdi-coin"></i> @item.Status.StatusName</span></h5>
                                                break;
                                        }
                                    </td>
                                    <td>
                                        <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                        <a href="/Task/Edit/@item.Id" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                        <a href="/Task/Delete/@item.Id" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>

